<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tabla de Alumnos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Tabla de Alumnos</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre del Alumno</th>
                    <th>Materia que cursa</th>
                    <th>Año</th>
                    <th>GitHub</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>André Torres</td>
                    <td>Desarrollo de Software</td>
                    <td>2023</td>
                    <td><a href="https://github.com/andreJesusTorres" target="_blank">https://github.com/andreJesusTorres</a></td>
                </tr>
                <tr>
                    <td>Esther Mirabal</td>
                    <td>Desarrollo de Software</td>
                    <td>2023</td>
                    <td><a href="https://github.com/esthermirabal" target="_blank">https://github.com/esthermirabal</a></td>
                </tr>
                <tr>
                    <td>Nicolas Vasallo</td>
                    <td>Desarrollo de Software</td>
                    <td>2022</td>
                    <td><a href="https://github.com/NikozV" target="_blank">https://github.com/NikozV</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
