<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandos de Git</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Comandos de Git</h5>
                        <ol>
                            <li class="list-group-item"><code>git init:</code> Inicializa un nuevo repositorio Git en el directorio actual.</li>
                            <li class="list-group-item"><code>git clone:</code> Clona un repositorio Git existente en tu máquina local.</li>
                            <li class="list-group-item"><code>git add:</code> Agrega cambios al área de preparación (staging) para ser incluidos en el próximo commit.</li>
                            <li class="list-group-item"><code>git commit:</code> Crea un nuevo commit con los cambios en el área de preparación.</li>
                            <li class="list-group-item"><code>git status:</code> Muestra el estado actual de tu repositorio, incluyendo cambios pendientes y archivos sin seguimiento.</li>
                            <li class="list-group-item"><code>git branch:</code> Muestra la lista de ramas (branch) y resalta la rama actual.</li>
                            <li class="list-group-item"><code>git checkout:</code> Cambia entre ramas o commits previos.</li>
                            <li class="list-group-item"><code>git pull:</code> Obtiene cambios del repositorio remoto y los fusiona con tu rama local.</li>
                            <li class="list-group-item"><code>git push:</code> Envía tus cambios locales al repositorio remoto.</li>
                            <li class="list-group-item"><code>git merge:</code> Combina una rama con otra.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
